<%= form_for @creature, url: "/creatures", method: "post" do |f| %>
   <p><b>Name:</b><%= f.text_field :name %></p>
   <p><b>Description:</b><%= f.text_area :description %></p>
   <p><%= f.submit "Save Creature" %></p>
 <% end %>
